html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 400;
  background-color: #eee;
}

h1 {
  font-size: 200%;
  letter-spacing: 3px;
  font-weight: 400;
}

header {
  background: #f7df1e;
  color: #FFFFFF;
  padding: 25px 0;
}

header img {
  border: solid;
}

header p {
  font-family: 'Allura';
  color: black;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 750;
  margin-top: 0px;
}

footer {
  background: #f7df1e;
  padding: 25px 0;
}

footer .tagline {
 font-weight: 700;
}

section {
  padding: 25px 0;
}

.timeline {
  position: relative;
  margin-top: 25px;
}

.timeline::before {
  content: '';
  background: #f7df1e;
  width: 5px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}

.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #f7df1e;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

nav a, .timeline a {
  background: #f7df1e;
  color: black;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 0px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}

nav a:hover, nav a:active, nav a:focus,
.timeline a:hover, .timeline a:active, .timeline a:focus {
  background: #eee;
  color: black;
  font-weight: 750;
  text-decoration: none;
}

.timeline-card {
  padding: 0 !important;
}

.timeline-card p {
  padding: 0 20px;
}

.timeline-card a {
  margin-left: 20px;
}

.timeline-item .timeline-img-header {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.timeline-img-header {
  height: 250px;
  position: relative;
  margin-bottom: 20px;
}

.timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #f7df1e;
  padding: 0 20px;
}

.date {
  background: #f7df1e;
  display: inline-block;
  color: black;
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 0;
}

.location {
  padding: 0 20px;
  margin-bottom: 10px;
  font-style: italic;
}

.location span {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  nav {
    margin-top: 4px;
  }
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}
